html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
   font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#applicationDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#viewDiv {
  position: absolute;
  left: 0;
  right: 0%;
  top: 0;
  height: 90.6%
}
#titleDiv {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2019rem;
  padding: 10px;
  opacity: 0.7;
}

#sliderContainer {
  flex: 0 0 80px;
  order: 2;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  padding: 0 12px;
}

#sliderValue {
  flex: 0 0 100px;
  order: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 100%;
}

#sliderInnerContainer {
  flex: 1 1 auto;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

#slider {
  width: 100%;
}

/**
* Play/Stop toggle button
*/
#sidebar {
  z-index: 99;
  position: absolute;
  bottom: 15%;
  right: 1%;
  background: rgba(0, 0, 0, 0.5);
  width: 20%;
  text-align: center;
  padding:1%;
}
#chartpanel:hover {
  cursor: move;
}
#chartpanel {
  z-index: 99;
  position: absolute;
  bottom: 20%;
  left: 2%;
  width: 25%;
  padding: 1%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  min-width:315px; 
  min-height: 215px;
  max-height: 500px;
  max-width: 778px;
  display: none;
}
#data-chart{
  padding: 2%;
  min-width:300px;
}
#dataFilter {
  color: white;
  padding: 3%;
}

#dataFilter h1{
  font-size: 24px;
  font-weight: bold;
}
#playButton {
  flex: 0 0 100px;
  order: 3;
  margin: 20px 0;
}
input[type="radio"]{
  margin: 0 5px 0 10px;
}
.toggle-button {
  display: flex;
}

.paneltitle {
  font-size: 14px;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  transition: opacity 200ms;
}

.tooltip>div {
  margin: 0 auto;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
  transform: translate3d(-50%, -125%, 0);
}

#dailyDataFilter {
  padding-top: 12px;

}

.esri-legend--card__carousel-title {
  /* to remove layer title from legend */
  display: none;
}
.btn {
  white-space: normal!important;
}
.dijitDialogPaneContent {
  /* margin: 2%; */
  background: #ffffff !important;
}

.dijitDialog {
  background: #ffffff !important;
  vertical-align: middle;
}
.dijitDialogTitle{
  color: black  !important;
}
#appDesc {
  padding: 3%;
  text-align: justify;
}
#mobileintro{
  /* height: 100%; */
}
#introdialog {
  width: 60%;
  /* height: 60%; */
  left: 0px !important;
  right: 0px;
  top: 10% !important;
  margin: auto;
  overflow-y: auto;
}

.esri-attribution {
  color: black;
  background: transparent !important;
  bottom: 3% !important;
  margin-left: 2%;
  margin-right: 2%;

}
@media only screen and (max-device-width:760px) {
  /* show the popup */
  /* div#popup { display: block; }
   */
   #introdialog {
    width: 80%;
  
  }
  #chartpanel {
    width:60%;
    min-width:215px; 
    min-height: 115px;

  }
  #data-chart{
    min-width:200px;
  }
  .dijitDialogPaneContent {
    width: 90% !important;
    height: 100%!important;
  }
  .dijitDialogTitleBar {
    width: 90% !important;
  }
  }